/* Custom Black Cursors */
.cursor-grab-black {
  cursor: grab;
  cursor: -webkit-grab;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'><path fill='black' stroke='white' stroke-width='1' d='M20.5 11.5c-1-1.5-2.5-1.5-2.5-1.5v-3c0-1.5-1-2.5-2.5-2.5s-2.5 1-2.5 2.5v2h-0.5v-4c0-1.5-1-2.5-2.5-2.5s-2.5 1-2.5 2.5v4h-0.5v-2c0-1.5-1-2.5-2.5-2.5s-2.5 1-2.5 2.5v6c0 0-2.5 0-4 2.5s1.5 5.5 5.5 5.5h6c4 0 6.5-6.5 6.5-6.5S21.5 13 20.5 11.5z'/></svg>") 10 10, grab;
}

.cursor-grabbing-black:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'><path fill='black' stroke='white' stroke-width='1' d='M18 9c0-1.5-1-2.5-2.5-2.5s-2.5 1-2.5 2.5v1h-0.5v-2c0-1.5-1-2.5-2.5-2.5s-2.5 1-2.5 2.5v2h-0.5v-1c0-1.5-1-2.5-2.5-2.5s-2.5 1-2.5 2.5v6c0 0-2.5 0-4 2.5s1.5 5.5 5.5 5.5h6c4 0 6.5-6.5 6.5-6.5S20 10.5 18 9z'/></svg>") 10 10, grabbing;
}
